.button {
    width: 10rem;
    padding: 12px 12px;
    background-color: #5796e6;
    border: 2px solid black;
    box-shadow: 0 2px 8px black;
    border-radius: 8px;
    font-size: 1.2rem;
    color: white;
    font-weight: bold;
    cursor: pointer;
    display: flex;
    justify-content: space-around;
}